* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;


}

main > h1 {

    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #E53170;
    
}

main > p {
    padding-top: 50px ;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.cards {
    margin-top: 40px;

}

.card {
    background-color: #0F0E17;
   
}

.card-left {
    background-color: red;
    width: 200px;
    height: 200px;
    float: left;
}

.card-left img {
    width: 100%;
}

.card-right {
    background-color : blue;
    width: 400px;
    height: 200px;
    float: left;

}