* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}



.team {

    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #E53170;
    padding-top: 20px;
    
}

p {
    padding-top: 50px ;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    padding-left: 30px;
    
}


header {
    margin: 0 auto;
  
}





.card {
    width: calc(100% / 3 - 30px - 30px );
    background: #0F0E17;
    height: 200px;
    float: left;
    margin: 20px 30px;


}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.card-left {
    float: left;
}

.card-right {
    float: left;
    padding: 20px 20px;
    color : #fff;
}

.card-right h1 {
    text-transform: uppercase;
    font-weight: bolder;
}


.card-right > * {
    padding: 10px 10px;
}


.card-right h3  {
    font-size: 18px;
    color: #3CCCEB;
}