* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;


}

main > h1 {

    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #E53170;
    
}

main > p {
    padding-top: 50px ;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    
}


